extends layout

block content
  img( src = '/public/images/logo.png' )
  h1 Bebés
  #content
  ul
    for baby in babies
      li= baby.babyName + " - " + baby.parents + " - " + moment.utc( baby.expectedDate ).format( "DD MMMM YYYY" )