extends layout

block content
  h1= title
  #content
  p The babies registered till now are:
  ul
    for baby in babies
      li= baby.babyName + " - " + moment.utc( baby.expectedDate ).format( "DD MMMM YYYY" )