extends layout

block content
  img( src = '/images/logo.png' )
  #content
  form( method = "post", action = '/login') 
    Key Username
        input( type = "text", name = "username" )
    br
    Key Password 
        input( type = "password", name = "password" )
    br
    input( type = "submit", value = "Entrar" )