extends layout

block content
  img( src = '/images/logo.png' )
  h1= title
  #content
  p Hiciste la siguiente apuesta:
  ul
    li= baby.babyName + " - " + moment.utc( date ).format( "DD MMMM YYYY" )
  p Buena Suerte !
  a( href = '/' ) Volver