extends layout

block content
  img( src = '/images/logo.png' )
  h1 Bienvenido a Baby Lotto
  #content
  br
  a( href = '/bet' ) Hacer apuesta
  br
  a( href = '/lottos' ) Ver apuestas
  br
  a( href = '/babies' ) Ver fechas esperadas de los bebés
  br
  a( href = '/winners' ) Ver apuestas cerradas y ganadores
  br
  a( href = '/rules' ) Reglamento de las apuestas
  br
  br
  a( href = '/logout', type = 'button' ) Salir