extends layout

block content
  h1 Bienvenido a Baby Lotto
  #content
  br
  a( href = '/lotto' ) Hacer nueva apuesta
  br
  a( href = '/tbd' ) Ver/modificar tus apuestas
  br
  a( href = '/tbd' ) Ver apuestas cerradas y ganadores
  br
  a( href = '/rules' ) Reglamento de las apuestas
  br
  br
  a( href = '/logout' ) Salir