extends layout

block content
  img( src = '/images/logo.png' )
  h1 Reglamento
  p Este juego se trata de apostar al día de nacimiento de los nuevos bebés de la Family.
  p A continuación se presentan las reglas y premios para estas apuestas.
  h2 Reglas Generales
  ol
    li Cada uno de los usuarios podrá apostar a todos los nuevos bebés
    li Cada uno de los usuarios sólo podrá apostar a 1 día por bebé, aunque luego podrá modificar la apuesta, hasta que ésta se de por terminada, o sea, nazca el bebé
    li No podrá haber más de 1 apuesta por día, por lo que el usuario que apuesta primero toma ese día y ningún otro usuario podrá apostar por ese mismo día
    li En caso de que ninguno de los días apostados sea el correcto, la casa gana (es decir, los padres del bebé)
    li Los padres también podrán apostar
  h2 Premios
  ol
    li El premio por cada bebé será 1 pisco Gran Nobel o similar
    li El premio será comprado por los demás participantes y será bebido en lugar y fecha a determinar por la Family
    
  p Suerte !
  
  a( href = '/' ) Volver