extends layout

block content
  img( src = '/images/logo.png' )
  h1 Ganadores
  table( border = "1" )
    tr
        th( width = "33%" ) Bebé
        th( width = "33%" ) Ganador(a)
        th( width = "33%" ) Fecha Nacimiento
   
    tr
        td Isabella Matilde
        td Cota 
        td 04 Septiembre 2013
  br
  a( href = '/' ) Volver